[Unit]
Description=dsp for living room speakers

# don`t ever stop restarting this service
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/henry

# check if there is some sound incoming, othersie don`t start dsp to prevent any unwanted output
ExecStartPre=arecord -f S24_LE -c 2 -r 48000 -D hifiberry -s 1

# start the dsp as a loop back device
ExecStart=dsp -c 2 -e s16 -r 48000 -t alsa hifiberry -o hifiberry zita_convolver ir48.wav

# restart this service in any case, even on exit 0 success
Restart=always

# restart this service after 3 seconds
RestartSec=3s

[Install]
WantedBy=multi-user.target
